In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [121]:
df_train_2= pd.read_csv('Surveydata_train.csv')
df_test_2 = pd.read_csv('Surveydata_test.csv')

In [122]:
df_train_1 = pd.read_csv('Traveldata_train.csv')
df_test_1 = pd.read_csv('Traveldata_test.csv')

In [123]:
df_train = pd.merge(df_train_1,df_train_2)

In [124]:
df_test = pd.merge(df_test_1, df_test_2)

In [125]:
df_train.head()

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Overall_Experience,...,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0,0,...,good,need improvement,acceptable,need improvement,need improvement,acceptable,need improvement,good,need improvement,poor
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0,0,...,good,poor,good,good,excellent,need improvement,poor,need improvement,good,good
2,98800003,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0,1,...,need improvement,good,excellent,excellent,excellent,excellent,excellent,good,excellent,excellent
3,98800004,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0,0,...,acceptable,need improvement,acceptable,acceptable,acceptable,acceptable,acceptable,good,acceptable,acceptable
4,98800005,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0,1,...,need improvement,good,excellent,good,good,good,good,good,good,good

In [126]:
df_test.head()

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort,...,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,99900001,Female,NaN,36.0,Business travel,Business,532,0.0,0.0,acceptable,...,need improvement,excellent,good,excellent,excellent,excellent,excellent,good,excellent,poor
1,99900002,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0,extremely poor,...,acceptable,poor,acceptable,acceptable,excellent,acceptable,good,acceptable,excellent,acceptable
2,99900003,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0,excellent,...,excellent,excellent,excellent,need improvement,need improvement,need improvement,need improvement,good,need improvement,excellent
3,99900004,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0,acceptable,...,poor,acceptable,excellent,poor,acceptable,need improvement,excellent,excellent,excellent,poor
4,99900005,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0,excellent,...,excellent,excellent,excellent,excellent,NaN,acceptable,excellent,excellent,excellent,excellent

In [127]:
df_train['Online_support'] = df_train['Online_support'].replace('extremely poor', 'poor')
df_train['Platform_location'] = df_train['Platform_location'].replace('very inconvinient', 'Inconvinient')
df_train['Checkin_service'] = df_train['Checkin_service'].replace('extremely poor','poor')
df_train['Cleanliness'] = df_train['Cleanliness'].replace('extremely poor','poor')
df_train['Onboard_service'] = df_train['Onboard_service'].replace('extremely poor', 'poor')

In [128]:
df_train.isna().sum()

ID                            0
Gender                       77
CustomerType               8951
Age                          33
TypeTravel                 9226
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       57
ArrivalDelay_in_Mins        357
Overall_Experience            0
Seat_comfort                 61
Seat_Class                    0
Arrival_time_convenient    8930
Catering                   8741
Platform_location            30
Onboardwifi_service          30
Onboard_entertainment        18
Online_support               91
Onlinebooking_Ease           73
Onboard_service            7601
Leg_room                     90
Baggage_handling            142
Checkin_service              77
Cleanliness                   6
Online_boarding               6
dtype: int64

In [129]:
df_test.isna().sum()

ID                            0
Gender                       30
CustomerType               3383
Age                          11
TypeTravel                 3448
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       29
ArrivalDelay_in_Mins        123
Seat_comfort                 22
Seat_Class                    0
Arrival_time_convenient    3325
Catering                   3357
Platform_location            12
Onboardwifi_service          12
Onboard_entertainment         8
Online_support               26
Onlinebooking_Ease           18
Onboard_service            2872
Leg_room                     25
Baggage_handling             40
Checkin_service              22
Cleanliness                   2
Online_boarding               2
dtype: int64

In [130]:
df_train.loc[df_train['Seat_comfort'].isnull() == True,'Seat_comfort'] = df_train['Seat_comfort'].mode()[0]
df_test.loc[df_test['Seat_comfort'].isnull() == True,'Seat_comfort'] = df_train['Seat_comfort'].mode()[0]

df_train.loc[df_train['Arrival_time_convenient'].isnull() == True,'Arrival_time_convenient'] = df_train['Arrival_time_convenient'].mode()[0]
df_test.loc[df_test['Arrival_time_convenient'].isnull() == True,'Arrival_time_convenient'] = df_train['Arrival_time_convenient'].mode()[0]

df_train.loc[df_train['Catering'].isnull() == True,'Catering'] = df_train['Catering'].mode()[0]
df_test.loc[df_test['Catering'].isnull() == True,'Catering'] = df_train['Catering'].mode()[0]

df_train.loc[df_train['Platform_location'].isnull() == True,'Platform_location'] = df_train['Platform_location'].mode()[0]
df_test.loc[df_test['Platform_location'].isnull() == True,'Platform_location'] = df_train['Platform_location'].mode()[0]

df_train.loc[df_train['Onboardwifi_service'].isnull() == True,'Onboardwifi_service'] = df_train['Onboardwifi_service'].mode()[0]
df_test.loc[df_test['Onboardwifi_service'].isnull() == True,'Onboardwifi_service'] = df_train['Onboardwifi_service'].mode()[0]

df_train.loc[df_train['Onboard_entertainment'].isnull() == True,'Onboard_entertainment'] = df_train['Seat_comfort'].mode()[0]
df_test.loc[df_test['Onboard_entertainment'].isnull() == True,'Onboard_entertainment'] = df_train['Seat_comfort'].mode()[0]

df_train.loc[df_train['Online_support'].isnull() == True,'Online_support'] = df_train['Online_support'].mode()[0]
df_test.loc[df_test['Online_support'].isnull() == True,'Online_support'] = df_train['Online_support'].mode()[0]

df_train.loc[df_train['Onlinebooking_Ease'].isnull() == True,'Onlinebooking_Ease'] = df_train['Onlinebooking_Ease'].mode()[0]
df_test.loc[df_test['Onlinebooking_Ease'].isnull() == True,'Onlinebooking_Ease'] = df_train['Onlinebooking_Ease'].mode()[0]

df_train.loc[df_train['Onboard_service'].isnull() == True,'Onboard_service'] = df_train['Seat_comfort'].mode()[0]
df_test.loc[df_test['Onboard_service'].isnull() == True,'Onboard_service'] = df_train['Seat_comfort'].mode()[0]

df_train.loc[df_train['Leg_room'].isnull() == True,'Leg_room'] = df_train['Leg_room'].mode()[0]
df_test.loc[df_test['Leg_room'].isnull() == True,'Leg_room'] = df_train['Leg_room'].mode()[0]

df_train.loc[df_train['Baggage_handling'].isnull() == True,'Baggage_handling'] = df_train['Baggage_handling'].mode()[0]
df_test.loc[df_test['Baggage_handling'].isnull() == True,'Baggage_handling'] = df_train['Baggage_handling'].mode()[0]

df_train.loc[df_train['Checkin_service'].isnull() == True,'Checkin_service'] = df_train['Checkin_service'].mode()[0]
df_test.loc[df_test['Checkin_service'].isnull() == True,'Checkin_service'] = df_train['Checkin_service'].mode()[0]

df_train.loc[df_train['Cleanliness'].isnull() == True,'Cleanliness'] = df_train['Cleanliness'].mode()[0]
df_test.loc[df_test['Cleanliness'].isnull() == True,'Cleanliness'] = df_train['Cleanliness'].mode()[0]

df_train.loc[df_train['Online_boarding'].isnull() == True,'Online_boarding'] = df_train['Online_boarding'].mode()[0]
df_test.loc[df_test['Online_boarding'].isnull() == True,'Online_boarding'] = df_train['Online_boarding'].mode()[0]

df_train.loc[df_train['Gender'].isnull() == True,'Gender'] = df_train['Gender'].mode()[0]
df_test.loc[df_test['Gender'].isnull() == True,'Gender'] = df_train['Gender'].mode()[0]

df_train.loc[df_train['CustomerType'].isnull() == True,'CustomerType'] = df_train['CustomerType'].mode()[0]
df_test.loc[df_test['CustomerType'].isnull() == True,'CustomerType'] = df_train['CustomerType'].mode()[0]

df_train.loc[df_train['Age'].isnull() == True,'Age'] = df_train['Age'].mode()[0]
df_test.loc[df_test['Age'].isnull() == True,'Age'] = df_train['Age'].mode()[0]

df_train.loc[df_train['TypeTravel'].isnull() == True,'TypeTravel'] = df_train['TypeTravel'].mode()[0]
df_test.loc[df_test['TypeTravel'].isnull() == True,'TypeTravel'] = df_train['TypeTravel'].mode()[0]

In [131]:
df_train['DepartureDelay_in_Mins'].replace(np.nan, df_train['DepartureDelay_in_Mins'].median(),inplace=True)
df_test['DepartureDelay_in_Mins'].replace(np.nan, df_test['DepartureDelay_in_Mins'].median(),inplace=True)

df_train['ArrivalDelay_in_Mins'].replace(np.nan, df_train['ArrivalDelay_in_Mins'].median(),inplace=True)
df_test['ArrivalDelay_in_Mins'].replace(np.nan, df_test['ArrivalDelay_in_Mins'].median(),inplace=True)

In [132]:
df_train.isnull().sum()

ID                         0
Gender                     0
CustomerType               0
Age                        0
TypeTravel                 0
Travel_Class               0
Travel_Distance            0
DepartureDelay_in_Mins     0
ArrivalDelay_in_Mins       0
Overall_Experience         0
Seat_comfort               0
Seat_Class                 0
Arrival_time_convenient    0
Catering                   0
Platform_location          0
Onboardwifi_service        0
Onboard_entertainment      0
Online_support             0
Onlinebooking_Ease         0
Onboard_service            0
Leg_room                   0
Baggage_handling           0
Checkin_service            0
Cleanliness                0
Online_boarding            0
dtype: int64

In [133]:
df_test.isnull().sum()

ID                         0
Gender                     0
CustomerType               0
Age                        0
TypeTravel                 0
Travel_Class               0
Travel_Distance            0
DepartureDelay_in_Mins     0
ArrivalDelay_in_Mins       0
Seat_comfort               0
Seat_Class                 0
Arrival_time_convenient    0
Catering                   0
Platform_location          0
Onboardwifi_service        0
Onboard_entertainment      0
Online_support             0
Onlinebooking_Ease         0
Onboard_service            0
Leg_room                   0
Baggage_handling           0
Checkin_service            0
Cleanliness                0
Online_boarding            0
dtype: int64

In [134]:
df_train.drop('ID',axis = 1,inplace = True)
test_file_ids = df_test['ID'] ## necessary step
df_test.drop('ID',axis = 1,inplace = True)

In [135]:
df_train = pd.get_dummies(df_train,drop_first = True)
df_train.head()

,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Overall_Experience,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco,Seat_comfort_excellent,...,Checkin_service_poor,Cleanliness_excellent,Cleanliness_good,Cleanliness_need improvement,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor
0,52.0,272,0.0,5.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,48.0,2200,9.0,0.0,0,1,0,1,1,0,...,0,0,1,0,0,0,0,1,0,0
2,43.0,1061,77.0,119.0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,44.0,780,13.0,18.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50.0,1981,0.0,0.0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [136]:
df_test = pd.get_dummies(df_test,drop_first = True)
df_test.head()

,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco,Seat_comfort_excellent,Seat_comfort_extremely poor,...,Checkin_service_poor,Cleanliness_excellent,Cleanliness_good,Cleanliness_need improvement,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor
0,36.0,532,0.0,0.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,21.0,1425,9.0,28.0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,60.0,2832,0.0,0.0,1,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
3,29.0,1352,0.0,0.0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
4,18.0,1610,17.0,0.0,1,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [137]:
cols = df_train.columns

In [138]:
X = df_train.drop(['Overall_Experience'],axis = 1)
y = df_train['Overall_Experience']

In [139]:
from sklearn.model_selection import train_test_split
X_train, X_validation, y_train, y_validation = train_test_split(X,y,test_size = 0.3,random_state = 2)

In [140]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(criterion='gini',max_depth=150,random_state=1)
dt_model.fit(X_train,y_train)

y_pred_train = dt_model.predict(X_train)
y_pred_val = dt_model.predict(X_validation)

In [141]:
from sklearn import metrics
dt_acc_train = metrics.accuracy_score(y_train,y_pred_train)
dt_acc_val = metrics.accuracy_score(y_validation,y_pred_val)
print("Train Accuracy:",dt_acc_train)
print("Validation Accuracy:",dt_acc_val)
print()

dt_roc_train = metrics.roc_auc_score(y_train,y_pred_train)
dt_roc_val = metrics.roc_auc_score(y_validation,y_pred_val)
print("Train ROC AUC score:",dt_roc_train)
print("Validation ROC AUC score:",dt_roc_val)
print()

dt_clr_train = metrics.classification_report(y_train,y_pred_train)
dt_clr_val = metrics.classification_report(y_validation,y_pred_val)
print("Train Classification Report:\n",dt_clr_train)
print("Validation Classification Report:\n",dt_clr_val)

Train Accuracy: 1.0
Validation Accuracy: 0.9271738362647454

Train ROC AUC score: 1.0
Validation ROC AUC score: 0.926434750153684

Train Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     30048
           1       1.00      1.00      1.00     36017

    accuracy                           1.00     66065
   macro avg       1.00      1.00      1.00     66065
weighted avg       1.00      1.00      1.00     66065

Validation Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.92      0.92     12738
           1       0.93      0.93      0.93     15576

    accuracy                           0.93     28314
   macro avg       0.93      0.93      0.93     28314
weighted avg       0.93      0.93      0.93     28314

In [142]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=10,criterion='gini',max_depth=150,random_state=1)
rf_model.fit(X_train,y_train)

y_pred_train = rf_model.predict(X_train)
y_pred_val = rf_model.predict(X_validation)

In [143]:
from sklearn import metrics
dt_acc_train = metrics.accuracy_score(y_train,y_pred_train)
dt_acc_val = metrics.accuracy_score(y_validation,y_pred_val)
print("Train Accuracy:",dt_acc_train)
print("Validation Accuracy:",dt_acc_val)
print()

dt_roc_train = metrics.roc_auc_score(y_train,y_pred_train)
dt_roc_val = metrics.roc_auc_score(y_validation,y_pred_val)
print("Train ROC AUC score:",dt_roc_train)
print("Validation ROC AUC score:",dt_roc_val)
print()

dt_clr_train = metrics.classification_report(y_train,y_pred_train)
dt_clr_val = metrics.classification_report(y_validation,y_pred_val)
print("Train Classification Report:\n",dt_clr_train)
print("Validation Classification Report:\n",dt_clr_val)

Train Accuracy: 0.9970786346779686
Validation Accuracy: 0.9397824397824398

Train ROC AUC score: 0.997265555479762
Validation ROC AUC score: 0.9411273754494094

Train Classification Report:
               precision    recall  f1-score   support

           0       0.99      1.00      1.00     30048
           1       1.00      1.00      1.00     36017

    accuracy                           1.00     66065
   macro avg       1.00      1.00      1.00     66065
weighted avg       1.00      1.00      1.00     66065

Validation Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.95      0.93     12738
           1       0.96      0.93      0.94     15576

    accuracy                           0.94     28314
   macro avg       0.94      0.94      0.94     28314
weighted avg       0.94      0.94      0.94     28314

In [144]:
final_predictions = rf_model.predict(df_test)
submission=pd.DataFrame([test_file_ids,final_predictions]).T
submission.rename(columns={"Unnamed 0": "Overall_Experience"},inplace=True)
submission.to_csv('submission.csv',index = False)